<!-- To edit the content of this module please check lang.yml -->
<div class="column">
  <!-- title -->
  <h2>{{ site.data[page.lang].lang["release_notes"]["title"] }}</h2>

  <!-- content -->
  <ul>
    {% for item in site.data[page.lang].lang["release_notes"]["notes"] %}
      <li>{{ item.note }}</li>
    {% endfor %}
  </ul>

  <!-- link to more -->
  <p>
    {% for item in site.data[page.lang].lang["release_notes"]["more_link"] %}
      <a href="{{ item.link }}"><em>{{ item.text }} &raquo;</em></a>
    {% endfor %}
  </p>
</div>

<!-- <div class="column">
	<h2>Release* 0.3 - 2017/06/22</h2>
	<ul>
		<li><b>Project Name:</b></li>
		<dd>ResQ</dd>
		<li><b>Users:</b></li>
		<dd>Refugees and migrants</dd>
		<li><b>Stakeholders:</b></li>
		<dd>Social workers</dd>
		<dd>Volunteers</dd>
		<dd>Associations</dd>
		<li><b>The problem:</b></li>
		<dd>The language barrier</dd>
		<dd>The missing digitalization of the gathered personal data</dd>
		<dd>Lack of communication between the users</dd>
		<dd>Critical context (such as reception centers)</dd>
		<dd>Lack of knowledge about the rights in foreign countries</dd></dd>
		<dd>The need of getting some guidance in a new city</dd>
		<li><b>The solution:</b></li>
		<dd>A digital solution (a platform, an app)</dd>
		<dd>A digital database</dd>
		<li><b>Link:</b></li>
		<dd><a href="https://docs.google.com/presentation/d/1qTC2J8LsO6RFXSjDGBvxeVlwLyEKeXzQ6fA1h3mN7LU/edit?usp=sharing">ResQ JAM slide presentation</a> 22/06/2017</dd>
	</ul>
	<p>
		<a href="https://github.com/opencarecc/ResQ/wiki">
			<em>More details »</em>
		</a>
	</p>
		<p class="font_size_12">
			*'Release' shall mean the current state of the project. The outcomes of each sprint activity.
		</p>
</div> -->
